
body{
	margin:0;
	padding:0;
	color:#3d3938;
	font-size:14px;
	font-family:Whitney,Helvetica,Arial,sans-serif;
}
.ingress{
	padding-bottom:2rem;
	.banner{
		position:relative;
		.homeTips{
			position:absolute;
			text-align:center;
			top:2rem;
			color:white;
			right:13%;
			margin-left:-215px;

			@media only screen and (max-width: 1920px){
				top:8rem;
				right:20%;
			}
			h3{
				font-size:36px;
				color:#53d1a2;
				margin:0;
				padding:0;
				background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(16, 207, 242, 1)), to(rgba(0, 136, 230, 1)));
	     -webkit-background-clip: text;
	     -webkit-text-fill-color: transparent;
			}
			h4{
				font-size:24px;
				margin:0;
				font-weight:normal;
				padding:.5rem 0 1rem 0;
			}
			p{
				margin:0.3rem 0;
				padding:0;
				font-size:13px;
			}
			iframe{
				margin-top:3rem;
			}
		}
		.ticketCount{
			position:absolute;
			text-align:center;
			border:5px solid black;
			border-radius:44rem;
			width:8rem;
			height:8rem;
			margin-left:-4rem;
			bottom:-4rem;
			background-color:white;
			color:black;
			left:50%;
			.count{
				line-height:7rem;
				height:6rem;
				font-size:5rem;
			}
		}
		img{
			width:100%;
		}
		.imgpc{
			display:block;
		}
		.imgmb{
			display:none;
		}
	}
	.bg{
		max-width:1200px;
		margin:6rem auto 0 auto;
		em{
			color:#51c8e9;
			font-size:2rem;
		}
		.rule{
			display:inline-block;
			position:relative;
			width:60%;
			ul,li{
				list-style:none;
				margin:0;
				padding:0;
			}
			ul{
				margin:2rem 2rem 0 0;
			}
			li{
				line-height:2rem;
				&:before{
					content:"";
					width:.4rem;
					height:.4rem;
					display:inline-block;
					border-radius:.4rem;
					margin-right:.5rem;
					background-color:#abbcca;
				}
				a{
					color:#018ae7;
					text-decoration:underline;
					font-weight:bold;
				}
			}
			.ruleMenu{
				border-bottom:1px solid #abbcca;
				padding-bottom:.5rem;
				font-weight:bold;
				font-size:16px;
				margin-right:14rem;
				color:#07224f;
			}
		}
		p{
			margin:0.3rem 0;
			padding:0;
		}
		.share{
			display:inline-block;
			float:right;
			vertical-align:top;
			padding-left:3rem;
			position:relative;
			color:#07224f;
			>div:nth-child(4){
			}
			.shareMenu{
				margin:0 0 2rem 0;
				border-bottom:1px solid #abbcca;
				padding-bottom:.5rem;
				font-weight:bold;
				font-size:16px;
				color:#07224f;
			}
			.ticketPackge{
				position:absolute;
				border:3px solid #03ad4b;
				right:0;
				top:-1rem;
				height:5rem;
				width:5rem;
				line-height:5rem;
				text-align:center;
				color:#03ad4b;
				font-size:3rem;
			}
			.totalTips{
				position:absolute;
				color:#03ad4b;
				right:7rem;
				font-size:1.5rem;
				top:0;
			}
			.setp1{
				display:block;
				span:first-child{
					margin-right:1rem;
					font-weight:bold;
				}
				.setp1Info{
					display:inline-block;
					a,span{
						margin-right:.4rem;
					}

				}
				a{
					text-decoration:underline;
				}
			}
			.setp4{
				margin-top:3rem;
				span{
					font-weight:bold;
				}
				.btn{
					margin-left:1rem;
					color:white;
					display:inline-block;
					padding:0 7rem;
					height:2.5rem;
					line-height:2.5rem;
					border-radius:16px;
					font-size:16px;
					background:-webkit-linear-gradient(left,#10cff2,#0088e6);
					background: -o-linear-gradient(left,#10cff2,#0088e6);
					background:-moz-linear-gradient(left,#10cff2,#0088e6);
					background:-ms-linear-gradient(left,#10cff2,#0088e6);
				}
			}
			.setp2{
				margin-top:2rem;
				display:block;
				>div{
					display:inline-block;
					position:relative;
				}
				.courntyDiv{
					height:25px;
					width:100px;
					margin-left:1rem;
					display:inline-block;
					a{
						color:black;
					}
				}
				span:first-child{
					margin-right:1rem;
				}
				.resistance{
					margin-left:1rem;
				}
				a{
					color:white;
					text-decoration:underline;
					margin-right:.4rem;
				}
				.enlightenment{
					margin-left:.4rem;
				}
			}
			.setp3{
				display:inline-block;
				margin-top:3rem;
				>span{
					display:inline-block;
					vertical-align:top;
					margin-top:1rem;
					font-weight:bold;
				}
				.setpTips{
					margin-bottom:.5rem;
					display:inline-block;
				}
				.facebook,.google,.tweet,.youtube,.iLogin{
				cursor:pointer;
				width:3rem;
				height:3rem;
				line-height:3rem;
				border-radius:1.5rem;
				display:inline-block;
				margin-right:2rem;
				text-align:center;
				vertical-align:top;
			}
			.facebook{
				background-color:#3a589a;
				cursor:pointer;
			}
			.google,.youtube{
				background-color:#e14929;
				i{
					font-size:1.7rem;
				}
			}
			.tweet,.iLogin{
				background-color:#52a8e9;
			}
			.iLogin{
				color:white;
				font-size:.8rem;
			}
			.iconfont{
				font-size:1.5rem;
				color:white;
				display:block;
			}
				>div{
					display:inline-block;
					margin-left:1rem;
					.shareBtn{
						display:inline-block;
						vertical-align:top;
						margin-left:1rem;
						a{
							color:white;
						}
					}
					img{
						margin-left:.5rem;
					}
					.anker_google,.ingress_google,.share_google{
						margin-left:0;
					}
				}
				
			}
		}
	}
	@media only screen and (max-width: 1700px){
		.banner{
			.homeTips{
				top:2rem;
				right:13%;
			}
		}
	}
	@media only screen and (max-width: 1280px){
		.banner{
			.homeTips{
				h3{
					font-size:30px;
				}
				h4{
					font-size:16px;
				}
			}
		}
	}
	@media only screen and (max-width: 1024px){
		.banner{
			.homeTips{
				position:relative;
				display:block;
				width:auto;
				margin:0 1rem;
				top:1rem;
				right:0;
				p,h4{
					color:black;
				}
			}
			.imgpc{
				display:none;
			}
			.imgmb{
				display:inline;
			}
		}
		.bg{
			margin-top:130px;
			.rule{
				margin-left:1rem;
				margin-top:2rem;
				width:100%;
				.ruleMenu{
					margin-right:2rem;
				}
			}
			.share{
				margin:2rem 0 0 1rem;
				padding-left:0;
				border-left:0;
				display:block;
				float:none;
				.setp1{
					display:block;
					margin-top:1rem;
					.setp1Info{
						display:block;
						line-height:2.5rem;
						
					}
				}
				.setp2{
					margin-left:0;
					margin-top:1rem;
					>div{
						line-height:2rem;
						display:block;
					}
					.resistance{
						margin-left:0;
					}
				}
				.setp3{
					margin-top:0;
					>div{
						margin-left:0;
					}
					>span{
						display:block;
						margin-bottom:.5rem;
						margin-top:2rem;
					}
					.second,.three{
						margin:1rem 0 0 0;
						display:block;
					}
				}
				.setp4{
					.btn{
						width:70%;
						padding:0;
						text-align:center;
					}
				}
				.ticketPackge{
					right:1rem;
					top:2rem;
				}
				.shareMenu{
					display:block;
					margin-right:2rem;
					.line{
						display:block;
						margin-left:0;
						margin-right:.5rem;
					}
				}
				.totalTips{
					top:3rem;
				}
			}
			.rule{
				>div:last-child{
					display:none;
				}
			}
		}
	}
	@media only screen and (max-width: 320px){
		.bg{
			em{
				font-size:1.5rem;
			}
		}
	}
}